// Footer
footer.border-top
    .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
            .col-md-10.col-lg-8.col-xl-7
                ul.list-inline.text-center
                    li.list-inline-item
                        a(href='https://www.facebook.com/josh.young.1029')
                            span.fa-stack.fa-lg
                                i.fas.fa-circle.fa-stack-2x
                                i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
                    li.list-inline-item
                        a(href='https://github.com/jbyoung12' target='_blank')
                            span.fa-stack.fa-lg
                                i.fas.fa-circle.fa-stack-2x
                                i.fab.fa-github.fa-stack-1x.fa-inverse
                    li.list-inline-item
                        a(href='https://linkedin.com/in/jbyoung12' target='_blank')
                            span.fa-stack.fa-lg
                                i.fas.fa-circle.fa-stack-2x 
                                i.fab.fa-linkedin.fa-stack-1x.fa-inverse
                    li.list-inline-item
                        a(href='https://tiktok.com/jbyoung12', target='_blank')
                            span.fa-stack.fa-lg
                                i.fas.fa-circle.fa-stack-2x 
                                i.fab.fa-tiktok.fa-stack-1x.fa-inverse
                    li.list-inline-item
                        a(href='https://instagram.com/jbyoung12', target='_blank')
                            span.fa-stack.fa-lg
                                i.fas.fa-circle.fa-stack-2x 
                                i.fab.fa-instagram.fa-stack-1x.fa-inverse
                .small.text-center.text-muted.fst-italic Copyright &copy; Joshua Young 2023